.home-page {
  padding: 0 !important;
  .banner-container {
    background-image: url(/assets/canyon-fade.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin: 0;
    // img {
    //   padding: 0px 0px 120px 0px;
    //   width: 100%;
    // }
  }
  .services-container {
    background-color: black;
    padding: 30px;
    margin: 0px;
    .services {
      background-color: white;
      .service {
        text-align: center;
        margin: 10px 0px;
        h3 {
          font-weight: bold;
        }
        p {
          text-align: left;
        }
      }
    }
  }
  .works-container {
    padding: 30px 15px 18px 15px;
    .card-columns {
      column-count: 3;
      .card {
        .card-title {
          margin-bottom: .75rem;
          margin-left: 15px;
        }
        border: 1px solid #e5e5e5;
        display: inline-block;
        margin-bottom: .75rem;
        position: relative;
        width: 100%;
        .card-img-top {
          border: 0;
          width: 100%;
          img {
            vertical-align: middle;
          }
        }
        .card-text {
          padding: 15px;
        }
      }
    }
  }
  .contact-form {
    background-color: black;
    margin: 0;
    padding: 30px 15px 30px 15px;
    .copyright {
      color: white;
      display: block;
      text-align: center;
    }
  }
  .footer-links {
    margin: 30px 0 0 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      margin: 0 5px;
      a {
        font-weight: bold;
      }
    }
  }
}

.inquiry-received {
  height: 464px;
  text-align: center;
  .thank-you-text {
    color: #e5e5e5;
    margin-top: 200px;
  }
}
///////////////////////////////////////////////////////////////////////////MEDIA
@media (max-width: 766px) {
  .home-page {
    .works-container {
      .card-columns {
        column-count: 2;
      }
    }
  }
}
@media (max-width: 530px) {
  .home-page {
    .works-container {
      .card-columns {
        column-count: 1;
      }
    }
  }
}
