.form-container {
  height: auto;
  max-width: 500px;
  position: relative;
  text-align: center;
  .sender-first, .sender-last {
    text-align: center;
    display: inline;
    float: left;
  }
}
.form-control:nth-child(-n+2) {
  margin-top: 20px;
  margin-bottom: 20px;
}
