////////////////////////////////////////////////////////////////////INQUIRE FORM
.form-container {
  position: relative;
  .sender-first, .sender-last {
    text-align: center;
    display: inline;
    float: left;
  }
}
.submit-buttom {
  text-align: center;
  .submit-clicker {
    background-color: white;
    border-radius: 0;
    color: black;
  }
}
.form-control:nth-child(-n+2) {
  border-radius: 0;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
//////////////////////////////////////////////////////////////////////LOGIN FORM
.background-container {
  text-align: center;
  .signin-container {
    border: solid black 3px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
    .signin-form {
      .signin-fields {
        #sessions-email, #sessions-password, #sessions-submit {
          width: 300px;
        }
        #sessions-submit {
          font-weight: bold;
          height: 28px;
        }
      }
    }
  }
}
//////////////////////////////////////////////////////////////////EDIT USER FORM
.background-container {
  .user-edit-container {
    border: solid black 3px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
    .edit-user-form {
      .edit-fields {
        #edit-user-email, #user-edit-submit, #edit-user-first-name, #edit-user-middle-name, #edit-user-last-name {
          width: 300px;
        }
        #user-edit-submit {
          font-weight: bold;
          height: 28px;
        }
      }
    }
    .form-footer-links {
      margin-bottom: 10px;
      .back-left {
        float: left;
      }
      .password-right {
        float: right;
      }
    }
  }
}
////////////////////////////////////////////////////////////UPDATE PASSWORD FORM
.background-container {
  .new-password-container {
    border: solid black 3px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
    .new-password-form {
      .new-password {
        #new-password-field {
          width: 300px;
        }
        #submit-new-password {
          font-weight: bold;
          height: 28px;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////LOGIN MEDIA
@media (max-width: 520px) {
  .background-container {
    margin: 20px;
    .signin-container {
      width: 100%;
      .signin-form {
        .signin-fields {
          #sessions-email, #sessions-password, #sessions-submit {
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
          }
          #sessions-submit {
            font-weight: bold;
            height: 28px;
          }
        }
      }
    }
  }
}
