html {
  height: 100%;
  body {
    font-family: Playfair display;
    height: 100%;
    margin-top: 50px;
    position: relative;
  }
}

.alert-alert {
  @extend .alert-danger !optional;
}

.alert-notice {
  @extend .alert-warning !optional;
}
