//////////////////////////////////////////////////////////////////////////NAVBAR
.navbar {
  background-color: #f7f7f9;
  font-family: Playfair display, serif;
  width: 100%;
  .navbar-brand {
    color: black;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .home-link, .dash-link, .destroy-link, .edit-link {
    color: grey;
  }
  .portfolio-link {
    color: grey;
    float: right;
    margin: 15px 0px 0px 0px;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    .nav-item{
      float: left;
      .nav-link {
        color: grey;
      }
    }
  }
}
////////////////////////////////////////////////////////////////PROFILE DROPDOWN
.profile-dropdown {
  background-color: #f7f7f9;
  float: right;
  margin-top: 6px;
  button {
    background-color: #f7f7f9;
    color: grey;
    a {
      font-size: 24px;
      text-decoration: none;
    }
  }
  .fa {
    color: grey;
  }
  .dropdown-menu {
    text-align: center;
  }
}
