.navbar {
  background-color: #f7f7f9;
  font-family: Playfair display, serif;
  width: 100%;
  .navbar-brand {
    color: black;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .home-link, .dash-link, .destroy-link {
    color: grey;
  }
  .portfolio-link {
    color: grey;
    float: right;
    margin: 15px 0px 0px 0px;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    .nav-item{
      float: left;
      .sign-in {
        margin-top: 8px;
        .sign-in-button {
          color: grey;
        }
      }
      .nav-link {
        color: grey;
      }
    }
  }
}
