<div class="container home-page">
  <div class="row banner-container">
    <div class="image-drop col-xs-12">
    </div>
  </div>
  <a id="services" class="anchor"></a>
  <div class="row services-container">
    <div class="col-xs-12">
      <div class="row services">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="service">
            <h3><span class="fa fa-eye"></span><br />Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lectus in ante mattis venenatis in iaculis massa. In molestie nisi ut posuere dictum. Suspendisse ac lobortis metus, ut sagittis sapien. Maecenas sagittis nisl et augue varius pulvinar. Maecenas eu nibh ac neque tempor bibendum nec vel mauris. Vestibulum sed leo malesuada, semper sem quis, gravida sapien. Pellentesque ac erat convallis, tincidunt est vitae, euismod augue. In nec diam posuere massa tempus finibus. Nulla sit amet bibendum elit, sed pharetra ipsum. Suspendisse vel placerat tortor. Vestibulum lorem nunc, vehicula non tincidunt in, vehicula at mi. Vivamus in laoreet sapien, a vehicula arcu. Fusce vel laoreet est.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="service">
            <h3><span class="fa fa-terminal"></span><br />Develop</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lectus in ante mattis venenatis in iaculis massa. In molestie nisi ut posuere dictum. Suspendisse ac lobortis metus, ut sagittis sapien. Maecenas sagittis nisl et augue varius pulvinar. Maecenas eu nibh ac neque tempor bibendum nec vel mauris. Vestibulum sed leo malesuada, semper sem quis, gravida sapien. Pellentesque ac erat convallis, tincidunt est vitae, euismod augue. In nec diam posuere massa tempus finibus. Nulla sit amet bibendum elit, sed pharetra ipsum. Suspendisse vel placerat tortor. Vestibulum lorem nunc, vehicula non tincidunt in, vehicula at mi. Vivamus in laoreet sapien, a vehicula arcu. Fusce vel laoreet est.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="service">
            <h3><span class="fa fa-thumbs-o-up"></span><br />Deliver</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lectus in ante mattis venenatis in iaculis massa. In molestie nisi ut posuere dictum. Suspendisse ac lobortis metus, ut sagittis sapien. Maecenas sagittis nisl et augue varius pulvinar. Maecenas eu nibh ac neque tempor bibendum nec vel mauris. Vestibulum sed leo malesuada, semper sem quis, gravida sapien. Pellentesque ac erat convallis, tincidunt est vitae, euismod augue. In nec diam posuere massa tempus finibus. Nulla sit amet bibendum elit, sed pharetra ipsum. Suspendisse vel placerat tortor. Vestibulum lorem nunc, vehicula non tincidunt in, vehicula at mi. Vivamus in laoreet sapien, a vehicula arcu. Fusce vel laoreet est.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="service">
            <h3><span class="fa fa-repeat"></span><br />Repeat</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lectus in ante mattis venenatis in iaculis massa. In molestie nisi ut posuere dictum. Suspendisse ac lobortis metus, ut sagittis sapien. Maecenas sagittis nisl et augue varius pulvinar. Maecenas eu nibh ac neque tempor bibendum nec vel mauris. Vestibulum sed leo malesuada, semper sem quis, gravida sapien. Pellentesque ac erat convallis, tincidunt est vitae, euismod augue. In nec diam posuere massa tempus finibus. Nulla sit amet bibendum elit, sed pharetra ipsum. Suspendisse vel placerat tortor. Vestibulum lorem nunc, vehicula non tincidunt in, vehicula at mi. Vivamus in laoreet sapien, a vehicula arcu. Fusce vel laoreet est.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row works-container">
    <a id="work" class="anchor"></a>
    <div class="col-xs-12">
      <div class="card-columns">
        <%= render partial: 'portfolio_items/showcase' %>
      </div>
    </div>
  </div>
  <div class="row contact-form" id="contact">
    <div class="col-xs-12">
      <div class="row contact-form-box">
        <%= render partial: "dispatched_emails/form"%>
      </div>
    </div>
  </div>
</div>
