<div class="container">
  <div>
    <div>
      WORK CONTAINER
    </div>
    <div class="inquiry-container" id="contact">
      <%= render partial: "dispatched_emails/form"%>
    </div>
  </div>
</div>
