<footer class="footer">
  <div class="container" id="footer-background">
    <ul class="footer-links">
      <li><a href="https://github.com/ooftypop" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/company/ooftypop/" target="_blank">LinkedIn</a></li>
      <li><a href="https://twitter.com/ooftypop" target="_blank">Twitter</a></li>
    </ul>
    <small class="copyright">© 2016 Ooftypop, LLC</small>
  </div>
</footer>
