<div class="footer container">
  <div class="row">
    <div class="col-xs-12 background">
      <ul class="footer-links">
        <li><a href="https://github.com/ooftypop" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/company/ooftypop/" target="_blank">LinkedIn</a></li>
        <li><a href="https://twitter.com/ooftypop" target="_blank">Twitter</a></li>
      </ul>
      <a id="contact" class="anchor"></a>
      <small class="copyright">© 2016 Ooftypop, LLC</small>
    </div>
  </div>
</div>
