<nav class="navbar navbar-fixed-top navbar-light">
  <a class="navbar-brand" href='#'>Ooftypop</a>
  <% if current_user.nil? %>
  <div class="container">
    <ul class="nav navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#work">Work</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#contact">Hire Us</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <div class="btn btn-secondary dropdown-toggle" style="margin-top: 8px;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign In
          </div>
          <form class="dropdown-menu p-4">
            <%= link_to 'signin', user_session_path %>
            <!-- <%= render partial: "/devise/sessions/new" %> -->
          </form>
        </div>
      </li>
    </ul>
  </div>
  <% else %>
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to 'Dash Board', dashboard_index_path %>
      </li>
    </ul>
  </div>
  <% end %>
</nav>
